@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
}

a {
  color: white;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
}

#home-page {
  display: flex;
  height: 100%;
  background-image: url("https://media.giphy.com/media/YWUvOugDNUBS0MTqkv/giphy.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  flex-direction: column;
  justify-content: center;
}

#home-page img {
  width: 50%;
  margin: 0 auto;
  margin-top: 2em;
}

.card {
  border: none;
  background-color: #00b7ff;
}

h5 {
  text-align: center;
}

.card a {
  text-align: center;
}

.card-text span {
  font-weight: bold;
}

/* NAV BAR */

nav {
  background-color: white;
  color: black;
}

/* CREATE FORM */

#create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

#create-form .form-question {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

#drones-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
