<h2>Create a new drone</h2>

<form method="POST" action="/drones/create">

<label for="name">NAME</label>
<input id="name" name="name" type="text"/>

<label for="propellers">PROPELLERS</label>
<input id="propellers" name="propellers" type="text"/>

<label for="maxSpeed">MAX SPEED</label>
<input id="maxSpeed" name="maxSpeed" type="text"/>

<button>SUBMIT</button>

</form>